.c-nav-right{
    margin-left: auto;
}
.h1-architect{
    bottom: 40%;
    left: 40%;
    color: white;
}
.c-nav-right a:hover{
    background-color: gray;
}
.line{
    width: 90%;
    height: 1px;
    background-color: gainsboro;
    margin-left: 60px;
}